*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    height: 100%;
}

/* header */

.metu-btn{
    color: black;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: bisque;
    box-shadow: 0 0 14px rgba(red, green, blue, alpha);
}

.navbar .logo h1{
    color: blue;
    border-bottom: 4px solid#fd6561;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    margin-left: 20px;
    color: blue;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 2opx;
    font-weight: bold;
}

.navbar .menu li .active{
    border-bottom: 4px solid #fd6561;
}

.navbar .menu li a li{
    color: #fd6561;
}

.navbar .menu li a:hover{
    border-bottom: 4px solid #fd6561;
}


/* Ccontents */

.content{
    background-image: url(Gaming.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    color: black;
    height: 100vh;
}

.content h1{
    font-size: 40px;
}

.content p{
    font-size: 20px;
    margin-top: 20px;
}

.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #fd6561;
    color: aliceblue;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.pheading{
    text-decoration: centre;
    margin: 50px 0;
    color: black;
}

/* products */

.sec{
    padding: 10px 5%;


}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;

}

.products .card img{
    height: 250px;
    width: 100%;
}


.products .card .desc{
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: black;
    padding: 0 20px
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 20px;
}

.products .card .box .price{
    color: #fd6561;
    font-size: 20px;
    font-weight: bold;
}

.products .card .box .btn{
    font-size: 13px;
    color: #fd6561;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #fd6561;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #fd6561;
    color: aliceblue;
}

/* footer */

footer{
    background-color: rgb(230, 20, 20);
    height: 10vh;
}

footer p{
    text-align: centre;
    line-height: 10vh;
}

footer p a{
    text-decoration: none;
    color:rgb(243, 228, 228);
    font-weight: bold;
}

/* responsive */

@media (max-width: 820px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\food";
    }

    .navbar .menu{
        height: 100vh;
        width: 50%;
        left: -50%;
        top: 0;
        background-color: aliceblue;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3 ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: flex;
        justify-content: center;
    }

    .navbar .menu li a {
        margin: 10px 0;
        font-size: 25px;
    }
}
